@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald:wght@700&family=Roboto:wght@500;700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald:wght@500;700&family=Roboto:wght@500;700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald:wght@500;700&family=Poppins:wght@500&family=Roboto:wght@500;700&family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*----Subheader-----*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./contact\ us\ img.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-family: Roboto;
}
.sub-header h1{
    margin-top: 40px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;   
}
nav img{
    width: 150px;    
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: Roboto;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #00ff00;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
    font-family: Roboto;
    margin-bottom: 250px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(./textd.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
.lbtn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-family: Roboto;
    border-radius: 2px;   
}
.lbtn:hover{
    border: 1px solid #00ff00;
    background: #00ff00;
    transition: 0.1s;
    border-radius: 2px;
}
nav #img1,#img2{
    display: none;
}

/*-------body---------*/

.abtn{
    border: 1px solid #00ff00;
    background: transparent;
    color: #00ff00;
}
.abtn:hover{
    color: #fff;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

/*-----Location------*/

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
    border-radius: 10px;
}

/*----Contact us-------*/

.contact-us img{
  width: 20px;
  height: 20px;
  margin: 10px;
  margin-right: 30px;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-family: Poppins;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input,.contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*------Footer------*/ 
  
 footer{
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    background: linear-gradient(to right,#00093c,#2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    font-family: Poppins;
 }
 footer p{
    font-family: Poppins;
 }
 .frow{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
 }
 .fcol{
    flex-basis: 25%;
    padding: 10px;
 }
 .logo{
    width: 80px;
    margin-bottom: 30px;
 }
 .fcol h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-family: Poppins;
 }
 #email{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
 }
 .fcol ul li{
    list-style: none;
    margin-bottom: 12px;  
 }
 .fcol ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Poppins;
 }
 .fcol form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
 }
 .fcol form img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
 }
 .fcol form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
 }
 .fcol form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
 }
 .social-icons img{
    width: 30px;
    height: 30px;
 }
 hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
 }
 .copyright{
    text-align: center;
 }
 .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
 }
 .underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s infinite;
 }
 @keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
 }
 @keyframes back{
    100%{
        background-position: 2000px 0;
    }
 }
 @media screen and (max-width: 1300px){
    .text-box h1{
        font-size: 40px;
        font-family: Roboto;
    }
    .text-box h2{
        font-size: 15px;
        font-family: Roboto;
    }

    .lbtn{
        padding: 10px 20px;
        font-size: 12px;    
    }
    .contact-col {
        margin-left: -40px;
    }
    .row{
        flex-direction: column;
    }
    .frow{
        flex-wrap: wrap;
    }
    .fcol{
        flex-basis: 100%;
     }   
}
@media screen and (max-width: 850px){
    .text-box h1{
        font-size: 50px;
        font-family: Roboto;
        margin-top: -300px;
    }
    .text-box h2{
        font-size: 40px;
        font-family: Roboto;
    }
}
@media screen and (max-width: 380px){
    .text-box h1{
        font-size: 30px;
        font-family: Roboto;
        margin-top: -50px;
    }
    .text-box h2{
        font-size: 20px;
        font-family: Roboto;
    }
}
@media screen and (max-width: 850px){
    nav #img1,#img2{
        display: block;
        margin: 4px;
        cursor: pointer;
        width: 30px;
        height: 30px;   
    }
    nav img{
        width: 80px;
    }
    nav #img2{
        margin-top: -5px;
    }
    .nav-links ul li{
        display: block;
     }
     .nav-links ul li a{
        font-size: 10px;
     }
     .nav-links{
         position: fixed;
         background: #00ff00;
         height: 100vh;
         width: 200px;
         top: 0;
         right: -200px;
         text-align: left;
         z-index: 2;
         transition: 1s;
     }
    }
