@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald:wght@700&family=Roboto:wght@500;700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald:wght@500;700&family=Roboto:wght@500;700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald:wght@500;700&family=Poppins:wght@500&family=Roboto:wght@500;700&family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*------Subheader----------*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./kosgoda\ turtle\ hatchery.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-family: Roboto;
}
.sub-header h1{
    margin-bottom: 250px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;   
}
nav img{
    width: 150px;   
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: Roboto;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #00ff00;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
    font-family: Roboto;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(./textd.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
.lbtn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-family: Roboto;
    border-radius: 2px;   
}
.lbtn:hover{
    border: 1px solid #00ff00;
    background: #00ff00;
    transition: 0.1s;
    border-radius: 2px;
}
nav #img1,#img2{
    display: none;
}

/*-------Intro---------*/

.intro{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
 }
 #ititle{
    font-size: 50px;
    letter-spacing: 2px;
    z-index: 1;
 }
 #ititle::before, #ititle::after{
    content: ' ';
    padding: 40px;
    position: absolute;
    left: 410px;
    top: 72%;
    display: block;
    transform: translateX(-50%) translateY(-50%) rotate(0);
    animation: spin 6s alternate infinite ease-in-out;   
 }
 #ititle::before{
    border-top: 5px solid #00ff00;
    border-left: 5px solid #00ff00;
 }
 #ititle::after{
    border-bottom: 5px solid #00ff00;
    border-right: 5px solid #00ff00;
    z-index: -1;
 }
 h1{
     font-size: 36px;
     font-weight: 600;
     font-family: Oswald;  
 }
 p{
 
     color: #777;
     font-size: 14px;
     font-family: Oswald;
     font-weight: 22px;
     line-height: 22px;
     padding: 10px;
 }
 .intro-list{
    text-align: justify;
    font-size: 14px;
    font-family: Oswald;
    font-weight: 22px;
    line-height: 22px;
    color: #777;
    margin-left: 50px;
 }
 .imgt{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap:30px ;   
 }
 .imgt div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.5s;
    justify-content: center;
 }
 .imgt div img:hover{
    transform: translateY(-5px);
 }
 .row{
     margin-top: 5%;
     display: flex;
     justify-content: space-between;
     margin-left: 10%;
     margin-right: 10%;
 }
 .column{
     flex-basis: 31%;
     background: #fff3f3;
     border-radius: 10px;
     margin-bottom: 5%;
     padding: 20px 12px;
     box-sizing: border-box;
     transition: 0.5s;
 }
 .column h2{
     text-align: center;
     font-weight: 600;
     margin: 10px 0;
     font-family: Oswald;
 }
 .column p{
     text-align: center;
     font-weight: 600;
     margin: 10px 0;
 }
 .column:hover{
     box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
 }
 .img-column{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
 }
 .img-column img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.5s;
 }
 .img-column img:hover{
    transform: translateY(-5px);
 }

/*-----Innerdetails-----*/

.innerdetails{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.row2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap:20px ;
    margin: 20px;
}

.innerdetails-column{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-top: 20px;
    font-family: Oswald;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: transform 0.5s;
 }
 .innerdetails-column img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
 }
 .innerdetails-column:hover{
    transform: translateY(-5px);
 }

 /*-------Extra----------*/

 .extra{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("./id4.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
 }
 .extra h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
    font-family: Oswald;
}

/*---------Footer---------*/

 footer{
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    background: linear-gradient(to right,#00093c,#2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    font-family: Poppins;
 }
 footer p{
    font-family: Poppins;
 }
 .frow{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
 }
 .fcol{
    flex-basis: 25%;
    padding: 10px;
 }
 .logo{
    width: 80px;
    margin-bottom: 30px;
 }
 .fcol h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-family: Poppins;
 }
 #email{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
 }
 .fcol ul li{
    list-style: none;
    margin-bottom: 12px;  
 }
 .fcol ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Poppins;
 }
 form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
 }
 form img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
 }
 form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
 }
 form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
 }
 .social-icons img{
    width: 30px;
    height: 30px;
 }
 hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
 }
 .copyright{
    text-align: center;
 }
 .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
 }
 .underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s infinite;
 }
 @keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
 }
 @keyframes back{
    100%{
        background-position: 2000px 0;
    }
 }
 @keyframes spin{
    100%{
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
 }
 @media screen and (max-width: 1300px){
    .text-box h1{
        font-size: 40px;
        font-family: Roboto;
    }
    .text-box h2{
        font-size: 15px;
        font-family: Roboto;
    }
   
    .lbtn{
        padding: 10px 20px;
        font-size: 12px;    
    }
    .intro-list{
        margin-left: -5px;
    }
    .row{
        flex-direction: column;
    }
    #ititle{
      font-size: 30px;
      letter-spacing: 2px;
      z-index: 1;
   }
   #ititle::before, #ititle::after{
      content: ' ';
      padding: 25px;
      position: absolute;
      left: 480px;
      top: 66%;
      display: block;
      transform: translateX(-50%) translateY(-50%) rotate(0);
      animation: spin 6s alternate infinite ease-in-out;   
   }
   #ititle::before{
      border-top: 5px solid #00ff00;
      border-left: 5px solid #00ff00;
   }
   #ititle::after{
      border-bottom: 5px solid #00ff00;
      border-right: 5px solid #00ff00;
      z-index: -1;
   }
    .frow{
        flex-wrap: wrap;
    }
    .fcol{
        flex-basis: 100%;
     } 
}
@media screen and (max-width: 850px){
   .text-box h1{
       font-size: 50px;
       font-family: Roboto;
   }
   .text-box h2{
       font-size: 40px;
       font-family: Roboto;
   }
}
@media screen and (max-width: 850px){
   #ititle{
      font-size: 30px;
      letter-spacing: 2px;
      z-index: 1;
   }
   #ititle::before, #ititle::after{
      content: ' ';
      padding: 25px;
      position: absolute;
      left: 250px;
      top: 60%;
      display: block;
      transform: translateX(-50%) translateY(-50%) rotate(0);
      animation: spin 6s alternate infinite ease-in-out;   
   }
   #ititle::before{
      border-top: 5px solid #00ff00;
      border-left: 5px solid #00ff00;
   }
   #ititle::after{
      border-bottom: 5px solid #00ff00;
      border-right: 5px solid #00ff00;
      z-index: -1;
   }
   .text-box h1{
      font-size: 40px;
      font-family: Roboto;
      margin-top: -250px;
   } 
   .text-box h1{
      font-size: 50px;
      font-family: Roboto;
   }
   .text-box h2{
      font-size: 40px;
      font-family: Roboto;
     }  
}
@media screen and (max-width: 380px){
   #ititle{
      font-size: 30px;
      letter-spacing: 2px;
      z-index: 1;
   }
   #ititle::before, #ititle::after{
      content: ' ';
      padding: 25px;
      position: absolute;
      left: 80px;
      top: 68%;
      display: block;
      transform: translateX(-50%) translateY(-50%) rotate(0);
      animation: spin 6s alternate infinite ease-in-out;   
   }
   #ititle::before{
      border-top: 5px solid #00ff00;
      border-left: 5px solid #00ff00;
   }
   #ititle::after{
      border-bottom: 5px solid #00ff00;
      border-right: 5px solid #00ff00;
      z-index: -1;
   }
   .text-box h1{
      font-size: 30px;
      font-family: Roboto;
      margin-top: 30px;
  }
  .text-box h2{
      font-size: 20px;
      font-family: Roboto;
  }
}
@media screen and (max-width: 850px){
    nav #img1,#img2{
        display: block;
        margin: 4px;
        cursor: pointer;
        width: 30px;
        height: 30px;   
    }
    nav img{
        width: 80px;
    }
    nav #img2{
        margin-top: -5px;
    }
    .nav-links ul li{
        display: block;
     }
     .nav-links ul li a{
        font-size: 10px;
     }
     .nav-links{
         position: fixed;
         background: #00ff00;
         height: 100vh;
         width: 200px;
         top: 0;
         right: -200px;
         text-align: left;
         z-index: 2;
         transition: 1s;
     }
    }
